
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Great Vibes', cursive;
    margin: 0;

    height: 100vh;
    color: white;

    background-color: black;
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-size: cover;

}

.quote {
    margin: 0;
    padding: 20px;

    font-size: 50px;
    font-weight: 300;
    line-height: 1.3em;

    color: #F5F5F5;
    background-color: rgba(0, 0, 0, 0.4);

    border-radius: 5px;
    backdrop-filter: blur(10px);
}


